*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* navbar start */
#navbar{
width: 100%;
height: 81px;
background-color: #1d2026;
 display: flex;
 justify-content: space-around;
}
#navbar>#leftnav{
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
     position: relative;
}
#navbar>#leftnav > a> img{
     position: absolute;
     top: 40%;
     bottom: 50%;
     left: 30%;
}
#navbar>#rightnav{
    width: 50%;
    height: 100%;
    margin-right: 50px;
    /* border: 1px solid red; */
   
}
#rightnav>ul{
 text-decoration: none;
 display: flex;
 justify-content: space-around;
 align-items: center;
 list-style-type: none;
 margin-top: 3.5%;
 
}
#rightnav>ul>a{
    text-decoration: none;
    font-size: 14px;
    line-height: 42px;
    color: #a4aead;
    font-weight: 600;
    font-family: "Open Sans";
    /* border: 1px solid #23b7a4; */
   width: 90px;
   height: 30px;
   text-align: center;
   
   
}
li{
   margin-top: -5px;
}

li:hover{
   border-radius: 3px;
   border: 1px solid #23b7a4;
   color: #23b7a4;
   width: 90px;
   height: 39px;
   text-align: center;
}
/* .active{
   border-radius: 3px;
   border: 1px solid #23b7a4;
   color: #23b7a4;
} */
 /* navbar end */

 /* sliderdiv  start */

  #sliderdiv{
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
    position: relative;
    background: url("../images/section-background.jpg" ) center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  #sliderdiv > .childDiv{
    width: 50%;
    height: 400px;
    position: absolute;
    left: 12%;
    top: 20%;
    /* border: 1px solid blue; */
  }
  .childDiv>.welcomeText{
    font-size: 36px;
line-height: 42px;
color: #ffffff;
font-weight: 700;
font-family: "Quattrocento Sans";
margin-bottom: 20px;
  }
  .childDiv>p{
    font-size: 16px;
line-height: 26px;
color: #ccd0d7;
font-weight: 400;
font-family: "Open Sans";
margin-bottom: 20px;
  }
  #buttonDiv>#viewmore{
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quattrocento Sans";
    width: 120px;
height: 40px;
border-radius: 3px;
background-color: #23b7a4;
border: 2px solid #23b7a4;
margin-right: 10px;
  }
  #buttonDiv>#videotour{
    font-size: 14px;
line-height: 28px;
color: #ffffff;
font-weight: 700;
font-family: "Quattrocento Sans";
width: 120px;
height: 40px;
border-radius: 3px;
background-color: rgba(222,180,180,0);
border: 2px solid #ffffff;
  }
  
  /* slider  end */

   /* WE ARE MODEST DIV  START*/
   #modestDiv{
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
    border-bottom: 1px solid gray;
    position: relative;

   }
   #modestDiv>#modestChild{
    width: 85%;
    height: 550px;
    /* border-bottom: 1px solid gray; */
    position: absolute;
    left: 10.5%;
   }

   #modestChild>.modestTitle{
     border-left: 10px solid gray;
     margin-top: 10%;
     font-size: 36px;
line-height: 42px;
color: #292f36;
font-weight: 700;
font-family: "Quattrocento Sans";
margin-bottom: 30px;
   }
   
   #innerDivparent{
    width: 100%;
    height:300px ;
    display:flex;
    justify-content: space-between;
    gap: 25px;
   }
   #innerDivparent>.descreption{
     width: 40%;
     height: 235px;
font-size: 16px;
line-height: 26px;
color: #8d8f92;
font-weight: 400;
font-family: "Open Sans";
     
   }
   #innerDivparent>.rightChild{
    width: 70%;
    height: 300px;
    /* border: 1px solid green; */
   }
   #innerDivparent> .rightChild>.item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
   }
   .item>.digitDiv{
    width: 50px;
    height: 50px;
    /* border: 1px solid orangered; */
    text-align: center;
    position: relative;
    background-color: #23b7a4;
   }
   .item>.digitDiv>p{
    position: absolute;
    bottom: 10%;
     left: 25%;
     font-size: 20px;
line-height: 42px;
color: #ffffff;
font-weight: 700;
font-family: "Quattrocento Sans";
   }
   .item>.textContainer{
    width: 90%;
    height: 80px;
    /* border: 1px solid green; */
   }
   .textContainer>h4{
    font-size: 18px;
line-height: 42px;
color: #292f36;
font-weight: 700;
font-family: "Quattrocento Sans";
margin-top: -10px;
   }
   .textContainer>p{
    font-size: 16px;
line-height: 26px;
color: #8d8f92;
font-weight: 400;
font-family: "Open Sans";
margin-top: -5px;
   }

   #socialIconsDiv{
     width: 80%;
     /* border: 1px solid yellow; */
     margin-top: 10px;
   }
   #socialIconsDiv>button{
    width: 50px;
height: 50px;
background-color: #c8cdd0;
font-size: 26px;
letter-spacing: -1px;
line-height: 42px;
color: #ffffff;
font-family: "Socialico";
border: none;
margin-top: 35px;
   }
   #socialIconsDiv>button:hover{
    background-color: #ccd0d7;
   }
     /* WE ARE MODEST DIV  END*/

     /* <!-- my team div start --> */

         #myTeamDiv {
            width: 100%;
            height: 600px;
            /* border: 1px solid red; */
        

         }
         #myTeamDiv>#myTeamDivchild{
            width: 75%;
         height: 550px;
    /* border-bottom: 1px solid gray; */
          position: absolute;
        left: 10.5%;
         }
         #myTeamDivchild>.teamTitle{
            border-left: 10px solid gray;
            margin-top: 10%;
            font-size: 36px;
       line-height: 42px;
       color: #292f36;
       font-weight: 700;
       font-family: "Quattrocento Sans";
       margin-bottom: 20px;
         }
         #myTeamDivchild>.teamGrid{
            width: 100%;
            height: 400px;
            /* border: 1px solid green; */
            display: flex;
            justify-content: space-between;
            gap: 30px;
            padding: 10px;

         }
         .teamGrid>.person{
            width: 250px;
            height: 350px;
            /* border: 1px solid yellow; */
         }
         .teamGrid>.person>img{
            width: 100%;
            height: 270px;
            object-fit: fill;
         }
         .person>div{
            padding-left: 15px;
            background-color: #e1e6ea;
            margin-top: -5px;
         }
         .person>div>.position{
            font-size: 14px;
line-height: 26px;
color: #8d8f92;
font-weight: 400;
font-family: "Open Sans";
         }
         .person>div>.title{
            font-size: 16px;
line-height: 35px;
color: #292f36;
font-weight: 700;
font-family: "Quattrocento Sans";   
         }
     /* <!-- my team div end -- */


     /* lovely work div */
     #myTeamDiv2{
        width: 100%;
        height: 800px;
        background-color: #3a454d;
     }
     #myTeamDiv2>#myTeamDivchild2{
        width: 85%;
     height: 550px;
/* border-bottom: 1px solid gray; */
      position: absolute;
    left: 10.5%;
     }
     #myTeamDivchild2>.teamTitle2{
        border-left: 10px solid gray;
        margin-top: 5%;
        font-size: 36px;
line-height: 42px;
color: #ffffff;
font-weight: 700;
font-family: "Quattrocento Sans";
   margin-bottom: 30px;
     }
     #myTeamDivchild2>.teamGrid2{
        width: 100%;
        height: 600px;
        /* border: 1px solid green; */
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0px -50px;
        /* padding: 10px; */

     }
     .teamGrid2>.person{
        width: 350px;
        height: 250px;
        /* border: 1px solid yellow; */
        margin-bottom: 20px;
     }
     .teamGrid2>.person>img{
        width: 100%;
        height: 210px;
        object-fit: fill;
     }
     .person2>div{
        padding-left: 15px;
        background-color: #e1e6ea;
        margin-top: -5px;
     }
     .person>div>.position{
        font-size: 14px;
line-height: 26px;
color: #8d8f92;
font-weight: 400;
font-family: "Open Sans";
     }
     .person>div>.title{
        font-size: 16px;
line-height: 35px;
color: #292f36;
font-weight: 700;
font-family: "Quattrocento Sans";   
     }
     #myTeamDivchild2>#showmore{
      width: 147px;
      height: 40px;
      border-radius: 3px;
      background-color: rgba(222,180,180,0);
      border: 2px solid #ffffff;
      position: absolute;
      left: 42%;
      top: 720px;
      font-size: 14px;
line-height: 28px;
color: #ffffff;
font-weight: 700;
font-family: "Quattrocento Sans";
     }


     /* <!-- what we do div start --> */
     #whatWeBox{
      width: 100%;
      height: 900px;
      /* border: 1px solid red; */
     }
     #whatWeBox>.container{
      width: 85%;
     height: 850px;
     /* border: 1px solid green; */
      position: absolute;
    left: 10.5%;
     }
     #whatWeBox>.container>.teamTitle3{
      border-left: 10px solid rgb(147, 146, 146);
      margin-top: 5%;
      font-size: 36px;
      line-height: 42px;
      color: #292f36;
      font-weight: 700;
      font-family: "Quattrocento Sans";
      margin-bottom: 30px;
     }
     .container>.gridContainer{
      width: 100%;
      /* height: 100%; */
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 30px;
     }
     .gridContainer>div{
      width: 250px;
      height: 300px;
      /* border: 1px solid yellow; */
      text-align: center;
      position: relative;
     }
     .gridContainer>div>img{
      position: absolute;
      top: 30px;
      left: 40%;
      width: 50px;
      height: 50px;

     }
     .gridContainer>div>h3{
      position: absolute;
      top: 30%;
      left: 12%;
      font-size: 17px;
color: #292f36;
font-weight: 700;
font-family: "Quattrocento Sans";
margin-top: 13px;

     }
     .gridContainer>div>.descreption{
       width: 100%;
       position: absolute;
       top:45%;
       font-size: 16px;
line-height: 26px;
color: #8d8f92;
font-weight: 400;
font-family: "Open Sans";
text-align: center;
     }
      /* <!-- what we do div end --> */


      /* FUATURES DIV START */
      #myTeamDiv3 {
         width: 100%;
         height: 650px;
         /* border: 1px solid red; */
         background-color: #3a454d;

      }
      #myTeamDiv3>#myTeamDivchild3{
         width: 75%;
      height: 550px;
 /* border-bottom: 1px solid gray; */
       position: absolute;
     left: 10.5%;
      }
      #myTeamDivchild3>.teamTitle3{
         border-left: 10px solid gray;
         margin-top: 5%;
         font-size: 36px;
 line-height: 42px;
 color: #ffffff;
 font-weight: 700;
 font-family: "Quattrocento Sans";
    margin-bottom: 30px;
      }
      #myTeamDivchild3>.teamGrid3{
         width: 100%;
         height: 400px;
         /* border: 1px solid green; */
         display: flex;
         justify-content: space-between;
         gap: 30px;
         padding: 10px;

      }
      .teamGrid3>.person{
         width: 300px;
         height: 470px;
         /* border: 1px solid yellow; */
         padding: 0;
      }
      .teamGrid3>.person>img{
         width: 100%;
         height: 250px;
         object-fit: fill;
      }
      .person>div{
         padding-left: 15px;
         background-color: #3a454d;
         margin-top: -5px;
         /* border: 1px solid green; */
      }
      .person>div>.position{
         font-size: 16px;
line-height: 26px;
color: #dcdfe1;
font-weight: 400;
font-family: "Open Sans";
margin-left: -10px;
      }
      .person>div>.title{
         font-size: 16px;
         line-height: 42px;
         color: #ffffff;
         font-weight: 400;
         font-family: "Quattrocento Sans";  
margin-left: -10px;
      }

      /* FEATURES DIV END */


      /* <!-- stay in touch div start  --> */
      #stayTouchDiv{
         width: 100%;
         height: 700px;
         /* border: 1px solid red; */
      }
      #stayTouchDiv>#titleDiv{
         width: 100%;
         height: 100px;
         /* border: 1px solid green; */
         position: relative;
      }
      #stayTouchDiv>#titleDiv>h3{
         border-left: 10px solid gray;
         position: absolute;
         top: 30%;
         left: 10.5%;
         font-size: 36px;
line-height: 42px;
color: #292f36;
font-weight: 700;
font-family: "Quattrocento Sans";
      }
      #stayTouchDiv>#mapDiv{
          width: 100%;
          height: 280px;
          background-image: url("../images/map.jpg");
      }
      #stayTouchDiv>#contactInfoDiv{
         width: 100%;
         height: 300px;
         /* border: 1px solid rgb(136, 7, 146); */
         position: relative;
        
      }

      #stayTouchDiv>#contactInfoDiv>.container{
         width: 80%;
         height: 100%;
         /* border: 1px solid yellow; */
         position: absolute;
         left: 10%;
         display: flex;
         justify-content: space-around;
         gap: 10px;
      }
      #contactInfoDiv>.container>.boxleft{
         width: 50%;
         height: 100%;
         /* border:1px solid orange; */
      }
      #contactInfoDiv>.container>.boxright{
         width: 40%;
         height: 100%;
         /* border:1px solid orange; */
          margin-top: -100px;
          background-color: white;
          padding-left: 15px;
         
      }
      .boxright>#inputFlex{
         width: 100%;
         height: 50px;
         display: flex;
         justify-content: space-around;
         margin: 10px;
      }
      .boxright>#messageBox{
         margin-left: 22px;
         margin-bottom: 10px;
         
      }
      .boxright>#buttonDiv{
         margin-left: 22px;
    

      }
      #buttonDiv>button{
         width: 147px;
         height: 40px;
         border-radius: 3px;
         background-color: #23b7a4;
         border: 2px solid #23b7a4;
                  font-size: 14px;
         line-height: 28px;
         color: #ffffff;
         font-weight: 700;
         font-family: "Quattrocento Sans";
      }
      input{
         margin-top: 10px;
         
      }
      label{
         font-size: 14px;
         line-height: 26px;
         color: #8d8f92;
         font-weight: 700;
         font-family: "Quattrocento Sans";
         text-align: center;
      }

      .boxleft>.title{
         font-size: 20px;
line-height: 26px;
color: #292f36;
font-weight: 200;
font-family: "Quattrocento Sans";
text-align: center;
margin-top: 30px;
margin-bottom: 20px;
      }
      .boxleft>.desc1{
         font-size: 16px;
line-height: 26px;
color: #8d8f92;
font-weight: 400;
font-family: "Open Sans";
      }
     /* <!-- stay in touch div end  --> */

     /* footer div start */
      #footer{
         width: 100%;
         height: 60px;
         position: relative;
         /* border: 1px solid red; */
         margin-bottom: 20px;
         background-color: #3a454d;
      }
      #footer>#footerContainer{
         width: 80%;
         height: 100%;
         position: absolute;
         left: 10.8%;
         /* border: 1px solid green; */
         display: flex;
         justify-content: space-between;
      }
      #footerContainer>#socialIconsDiv{
         width: 20%;
         height: 30px;
         display: flex;
         justify-content: space-around;
         align-items: center;
         color: white;
         cursor: pointer;
      /* border: 1px solid purple;  */
   
   }

      #footerContainer>.title{
         width: 60%;
         position: relative;
      }
      .title>p{
         position: absolute;
         top: 25%;
         font-size: 14px;
line-height: 26px;
color: #ffffff;
font-weight: 400;
font-family: "Open Sans";
      }

     /* footer div end */